#mailing_list_settings.box
  %h3
    .actions
      = button_to t("edit"), edit_admin_reader_settings_url, :method => :get
    =t("mailing_list_configuration")
  %p.ruled
    = show_config 'reader.mailman.list_name'
